.gnb-nav {
  &-list {
    @include flexbox(start);
  }

  &-item {
    a {
      display: block;
      padding: 12px;
      @include text-style(18, $primary);
      font-weight: 700;
    }

    &.is-active,
    &:hover {
      a {
        color: $blue;
      }
    }
  }
}
