%tag-base {
  @include inline-flexbox();
  height: 20px;
  padding: 0 6px;
  border-radius: 4px;
  @include text-style(12);
  font-weight: 700;
}

.tag-pink {
  @extend %tag-base;
  background-color: $pink;
  color: $white;
}

.tag-grey {
  @extend %tag-base;
  background-color: $border;
  color: $secondary;
}

.tag-green {
  @extend %tag-base;
  background-color: $green;
  color: $white;
}
